:root{
    --primary: #414141;
    --secondary: #FFFFFF;
    --tertiary: #EFB08F;
    --hover: #F6D0A4;
}

*{
    /* border: solid 1.5px; */
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
}


.body-scr.active1{
    overflow-y: hidden;
}

/* ===========================================HERO SECTION========================================================= */
.hero-main-section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

#back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
}

@media(min-aspect-ratio: 16/9){
    #back-vid{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    #back-vid{
        width: auto;
        height: 100%;
    }
}

.logo-hold-div{
    display: flex;
    align-items: center;
    z-index: 1;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 70px;
}

.hero-text-hold{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--secondary);
    flex-wrap: wrap;
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

.hero-hi{
    font-size: 30px;
    font-weight: lighter;
}

.hero-main-text{
    font-size: 88px;
    font-weight: bolder;
}

.nav-class{
    width: 100%;
    height: 70px;
    z-index: 1;
}

.ul-list{
    list-style-type: none;
    color: var(--secondary);
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 65px;
}

.nav-li{
    display: inline-block;
    margin: 0 20px 0 60px;
}

.nav-a{
    text-decoration: none;
    padding: 5px;
}

.ham-nav{
    z-index: 1;
    display: none;
    float: right;
    cursor: pointer;
    padding-top: 20px;
    width: 90px;
    height: 70px;
}

.lineg{
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: var(--secondary);
}

@media (max-width: 950px){

    .hero-main-section{
        display: flex;
        flex-direction: column;
    }

    .logo-hold-div{
        margin-top: 0;
    }

    .nav-class{
        z-index: 9;
    }

    .ul-list{
        display: flex;
        flex-direction: column;
        top: 70px;
        left: -100%;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100vh;
        background-color: var(--hover);
        transition: all 0.5s ease;
    }

    .ul-list.active{
        left: 0;
        transition: all 0.5s ease;
    }

    .nav-li{
        margin: 0;
    }

    .ham-nav{
        display: block;
    }

    .ham-nav.active .lineg:nth-child(2){
        opacity: 0;
    }

    .ham-nav.active .lineg:nth-child(1){
        transform: translateY(6px) rotate(45deg);
    }

    .ham-nav.active .lineg:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}

.about{
    color: var(--secondary);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: all 1s ease;
}

.contact{
    color: var(--secondary);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: all 1s ease;
}

.contact:hover, .about:hover{
    transform: scale(1.1);
    color: var(--tertiary)
}

.resume{
    border-radius: 70px;
    border: none;
    background-color: var(--tertiary);
    color: black;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    padding: 15px 32px;
    font-weight: 600;
    opacity: 1;
    transition: background-color 1s;
    cursor: pointer;
}

.resume:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

/* ===========================================ABOUT SECTION========================================================= */

.about-main-section{
    background-color: var(--hover);
    font-family: 'Manrope', sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10rem 0 5rem 0;
    margin-top: 0;
}

.maj-txt1, .maj-txt2{
    font-size: 10rem;
    font-weight: bolder;
    opacity: 0.8;
    color: var(--primary);
}

.maj-txt1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maj-txt2{
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.line-height-red{
    line-height: 1;
}

.about-minor-div{
    font-weight: 800;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 2rem 12rem 0 12rem;
    line-height: 1.4;
    text-align: center;
}

/* ===========================================SKILLS SECTION========================================================= */

.check-text{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--hover);
    margin-top: 5rem;
}

.img-size{
    width: 40%;
}


.skill-main-cont-fir, .skill-main-cont-sec{
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    flex-direction: column;
    padding: 2.5rem 2.5rem;
    margin: 3rem 2.5rem;
    border-radius: 3px;
}

.r1-fir, .r1-sec, .r2-fir, .r2-sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.hold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 210px;
    padding: 0;
    margin: 15px;
    background-color: #171715;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
    transition: all 0.5s ease;
}

.hold:hover{
    transform: scale(1.1);
}

.txt-hold-skill{
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--hover)
}

/* ===========================================PROJECT SECTION========================================================= */

.img-proj{
    width: 100%;
    background-size: cover;
}

.kebab-holder{
    display: flex;
    justify-content: end;
    padding-top: 40px;
    padding-right: 20px;
}

.kebab-hold{
    display: flex;
    flex-direction: row;
    gap: 6px;
    background-color: var(--primary);
    width: 70px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0.9;
    transition: all 0.2s ease;
    cursor: pointer;
}

.kebab-hold-changed{
    text-align: center;
    line-height: 45px;
    background-color: var(--primary);
    width: 70px;
    height: 40px;
    border-radius: 20px;
    opacity: 0.9;
    transition: all 0.2s ease;
    cursor: pointer;
}


.kebab-hold:hover{
    gap: 9px
}

.line-k{
    width: 6px;
    height: 6px;
    background-color: var(--secondary);
    border-radius: 3px;
}


.entire-scroll-hold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
}

.project-ent-main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-hold-proj{
    width: 960px;
    height: 494px;
    display: flex;
    flex-direction: row;
    background-color: var(--hover);
    margin-top: 22px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.img-hold-proj{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width: 990px) {

    .entire-scroll-hold{
        padding-left: 3%;
        padding-right: 3%;
    }
    .cont-hold-proj{
        width: 100%;
    }

    .img-hold-proj{
        width: 40%;
        background-size: cover;
    }
}

.content-hold-proj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    padding-right: 3rem;
    width: 75%;
    padding-top: 70px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 3.5rem;
}

.in-cont-div{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin: 0;
    padding: 0;
    width: 100%;
}

.check-text{
    text-align: center;
}

.l{
    font-size: 25px;
}


/* ===========================================GET IN TOUCH SECTION========================================================= */

.gts-main-section{
    background-color: var(--primary);
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.form-hold-section {
    position: relative;
    bottom: -80px;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--secondary);
    padding-bottom: 100px;
}

.form-logo-hold{
    height: 100px;
    width: 100%;
    margin: 2rem 0 2rem 0;
    padding: 0 0 0 4rem;
}

.logo-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.git-txt{
    font-size: 3rem;
    font-family: 'Manrope', sans-serif;
    color: var(--primary);
}

.form-hold{
    width: 100%;
}

.s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    gap: 50px;
}

#name{
    font-family: 'Manrope', sans-serif;
    border-radius: 30px;
    width: 100%;
    height: 3.5rem;
    padding-left: 30px;
    color: var(--primary);
    border: solid 2.5px #E7E6E6;
}

#email{
    font-family: 'Manrope', sans-serif;
    border-radius: 30px;
    width: 100%;
    height: 3.5rem;
    display: block;
    padding-left: 30px;
    color: var(--primary);
    border: solid 2.5px #E7E6E6;
}

#comm{
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    color: var(--primary);
    border: solid 2.5px #E7E6E6;
    resize: none;
    width: 100%;
}

#message-content{
    color: var(--primary);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.btn-form-hold{
    text-align: center;
}

.form-btn{
    font-family: 'Manrope', sans-serif;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    width: 10rem;
    height: 3.5rem;
    background-color: var(--hover);
    color: var(--primary);
    border: solid 2px #E7E6E6;
    transition: all 1s ease, opacity 250ms;
    opacity: 0.9;
}

.form-btn:hover{
    transform: scale(1.07);
    opacity: 1;
    color: white;
}

/* ===========================================FOOTER SECTION========================================================= */

.footer-main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding-top: 200px;
    background-color: black;
}

.fl{
    color: var(--secondary);
}

.fl:hover{
    color: var(--tertiary);
}

.foot-r1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    width: 100%;
    padding: 0 2%;
    flex-wrap: wrap;
}

.foot-r2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.foot-img-logo{
    width: 100px;
}

.change-page-hold{
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: var(--secondary);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.home-f, .about-f, .skills-f, .projects-f, .resume-f{
    color: var(--secondary);
    cursor: pointer;
    position: relative;
    width: 100%;
} 

.home-f:hover, .about-f:hover, .skills-f:hover, .projects-f:hover, .resume-f:hover{
    color: var(--hover);
}

.home-f::after, .about-f::after, .skills-f::after, .projects-f::after, .resume-f::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height:0.1rem;
    width: 100%;
    background-color: var(--hover);
    transform-origin: 100% 0%;
    transform: scale(0, 1);
    color: var(--hover);
    transition: transform 0.4s ease;
}

.home-f:hover::after, .about-f:hover::after, .skills-f:hover::after, .projects-f:hover::after, .resume-f:hover::after{
    transform: scale(1, 1);
    transform-origin: 0% 100%;
}

.final-stat{
    color: var(--secondary);
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo-hold-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    opacity: 0.8;
}
